<html>
    <head>
        <link rel="icon" type="image/png" href="https://picasso.juspay.in/images/juspay/icon/base_color.png">
        <title>VDOM Generator</title>
    </head>
    <script type="text/javascript" src="../public/js/script.js"></script>
    <script>window.addEventListener("message", download , false)</script>
    <body>
        <div id="container">
            <div id="form">
                <form action="/post" method="POST">
                    <button type="submit" >Generate VDOM</button>
                </form>
                <button onclick="sendMessage()">Download</button>
            </div>
            <div id="mobile_view">
                <script src="https://public.releases.juspay.in/hyper-sdk-web/HyperServices.js" clientId="travolook" service="in.juspay.hyperpay"></script>

                <% if(callHyperServices){ %>
                    <iframe id="mainFrame"> </iframe>
                    <script>startInitiateProcess("okcredit")</script>
                <% } %>

            </div>
        </div>
    </body>
</html>